//stylus -w C:\Users\eugka\Desktop\binary-calc\src\styles\App.styl -o C:\Users\eugka\Desktop\binary-calc\src\App.css

//ColorSheme
$bgColor = #F5F5F6
$pColor = #5d34af
$pLightColor = #9061e2
$pDarkColor = #27057f
$fontColor = #fff
$fontDarkColor = #E1E2E1

//Sizes
$appWidth = 40em
$bLgWidth = 150px
$bSmWidth = 65px

#root 
    background-color: $bgColor;
    color: $fontColor;

.App {
  margin: auto;
  max-width: $appWidth;
  overflow hidden
  background-color: $pColor;
}


.display
    text-align: right;
    padding: 10px 20px;
    background-color: $pDarkColor

.display:hover
    cursor: default;

.display .expression
    font-size 2rem;
    color: $fontDarkColor;
    height 60px

.display .currentValue
    font-size: 4rem;
    height 95px

.display .currentValue, .display .expression
    white-space nowrap
    overflow auto


.panelWrapper
    display flex
    flex-wrap: wrap
    padding 20px 10px

.btn
    background-color $pLightColor
    margin: 7px 10px
    padding 10px 0
    box-shadow: 1px 1px 0.5px black
    transition: background-color 0.5s
    text-align center
    font-weight bold
    font-size: 2em
    user-select none

.btn:hover
    cursor pointer
    background-color: lightness($pLightColor, 70%)

.btn:active, .btn-pressed
    background-color: lightness($pLightColor, 85%)
    box-shadow: none

.btn-sm
    width $bSmWidth

.btn-lg
    width $bLgWidth